<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>Robo Resume</title>
    <style>
        body {background-color: lightcyan;}
        h1 {color: darkblue;}
        h3 {color: darkcyan;}
        th {color: black;}
        td {color: black;}
        .jumbotron {background-color: lightcyan;}
    </style>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1>Experience Information</h1>

        <form class="navbar-form pull-left" action="#"
              th:action="@{/postform}"
              th:object="${newExperience}"
              method="post">

            <input type="hidden" th:field="*{id}" />

            <input type="text" placeholder="Position Title" th:field="*{positionTitle}" />
            <span th:if="${#fields.hasErrors('degreeType')}"
                  th:errors="*{degreeType}"></span><br />

            <input type="text"  placeholder="Organization" th:field="*{organization}" />
            <span th:if="${#fields.hasErrors('organization')}"
                  th:errors="*{organization}"></span><br />

            <input type="text" placeholder="Duties" th:field="*{duties}" />
            <span th:if="${#fields.hasErrors('duties')}"
                  th:errors="*{duties}"></span><br />

            <input type="text" placeholder="Start Date: Month, YYYY" th:field="*{startDate}" />
            <span th:if="${#fields.hasErrors('startDate')}"
                  th:errors="*{startDate}"></span><br />

            <input type="text" placeholder="End Date: Month, YYYY" th:field="*{endDate}" />
            <span th:if="${#fields.hasErrors('endDate')}"
                  th:errors="*{endDate}"></span><br />

            <button class="btn btn-primary btn-large" type="submit" >Submit</button>
            <a class="btn btn-primary btn-small" href="/" role="button">Back to Resume</a>
        </form>
        <br />
        <br />



    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
