<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com">
<head>
    <meta charset="UTF-8" />
    <title>Robo Resume</title>
</head>
<body>
    <h1>Login</h1>
    <div th:replace="Base :: navlinks"></div>

    <div th:if="${param.error}">
        Invalid username and password
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>


    <form action="#"
      th:action="@{/login}"
      method="post">

    <div><label>Username : <input type="text" name="username" /></label></div>

    <div><label>Password : <input type="password" name="password" /></label></div>
    <div><input type="submit" value="Submit" /></div>
</form>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>