<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>Robo Resume</title>
    <style>
        body {background-color: lightcyan;}
        h1 {color: darkblue;}
        h3 {color: darkcyan;}
        th {color: black;}
        td {color: black;}
        .jumbotron {background-color: lightcyan;}
    </style>
</head>

<body>

<div class="container">
    <div class="jumbotron">
        <h1>Robo Resume Builder<br /></h1>
        <h3>Resume</h3>

        <table class="table">

            <tbody>
            <tr th:each="basic : ${Basic}">
                <td><span th:inline="text">
                    [[${basic.name}]], [[${basic.email}]]<br />
                    Linkedin: [[${basic.linkedIn}]]<br />
                    GitHub: [[${basic.gitHub}]]
                </span></td>

            </tr>
            </tbody>
        </table>



        <a class="btn btn-primary btn-small" href="/basicform" role="button">Add Basic Information</a>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Education</th>
                <th scope="col">Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="degree : ${Educations}">
                <td><span th:inline="text">
                    [[${degree.degreeType}]] in [[${degree.major}]]<br />
                    [[${degree.school}]], [[${degree.gradYear}]]
                </span></td>
                <td>
                    <a class="btn btn-primary btn-small" th:href="@{/eduupdate/{id} (id=${degree.id})}" role="button">Update</a>
                    <a class="btn btn-primary btn-small" th:href="@{/edudelete/{id} (id=${degree.id})}" role="button">Delete</a>

                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary btn-small" href="/eduform" role="button">Add New Education</a>
        <br />


        <table class="table">
            <thead>
            <tr>
                <th scope="col">Experience</th>
                <th scope="col">Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="experience : ${Experiences}">
                <td><span th:inline="text">
                    [[${experience.positionTitle}]]<br />
                    [[${experience.organization}]], [[${experience.startDate}]]-[[${experience.endDate}]] <br />
                    [[${experience.duties}]]
                </span></td>
                <td>
                    <a class="btn btn-primary btn-small" th:href="@{/expupdate/{id} (id=${experience.id})}" role="button">Update</a>
                    <a class="btn btn-primary btn-small" th:href="@{/expdelete/{id} (id=${experience.id})}" role="button">Delete</a>

                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary btn-small" href="/expform" role="button">Add New Experience</a>
        <br />

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Skills</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="skill : ${Skills}">
                <td><span th:inline="text">
                    [[${skill.name}]], [[${skill.level}]]<br />

                </span></td>
                <td>
                    <a class="btn btn-primary btn-small" th:href="@{/supdate/{id} (id=${skill.id})}" role="button">Update</a>
                    <a class="btn btn-primary btn-small" th:href="@{/sdelete/{id} (id=${skill.id})}" role="button">Delete</a>

                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary btn-small" href="/sform" role="button">Add New Skill</a>
        <br />




    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>