<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <title>Job Match</title>
    <style>
        body {background-color: lightcyan;}
        h1 {color: darkblue;}
        h3 {color: darkcyan;}
        th {color: black;}
        td {color: black;}
        .jumbotron {background-color: lightcyan;}
    </style>
</head>

<body>

<div class="container">
    <div class="jumbotron">

        <div th:replace="Base :: navlinks"></div>



        <table class="table">

            <tbody>
            <tr th:each="basic : ${Basic}">
                <td><img th:src='${basic.img}' width="150" height="150"/></td>
                <br />
                <br />
                <td><span th:inline="text">
                    [[${basic.summary}]]<br />
                    [[${basic.name}]]<br />
                    [[${basic.email}]]<br />
                    Linkedin: [[${basic.linkedIn}]]<br />
                    GitHub: [[${basic.gitHub}]]
                </span></td>

            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary btn-small" href="/basicform" role="button">Add Basic Information</a><br />

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Education</th>
                <th scope="col">Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="degree : ${Educations}">
                <td><span th:inline="text">
                    [[${degree.degreeType}]] in [[${degree.major}]]<br />
                    [[${degree.school}]], [[${degree.gradYear}]]
                </span></td>
                <td>
                    <a class="btn btn-primary btn-small" th:href="@{/eduupdate/{id} (id=${degree.id})}" role="button">Update</a>
                    <a class="btn btn-primary btn-small" th:href="@{/edudelete/{id} (id=${degree.id})}" role="button">Delete</a>

                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary btn-small" href="/eduform" role="button">Add New Education</a><br />

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Experience</th>
                <th scope="col">Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="experience : ${Experiences}">
                <td><span th:inline="text">
                    [[${experience.positionTitle}]]<br />
                    [[${experience.organization}]], [[${experience.startDate}]]-[[${experience.endDate}]] <br />
                    [[${experience.duties}]]
                </span></td>
                <td>
                    <a class="btn btn-primary btn-small" th:href="@{/expupdate/{id} (id=${experience.id})}" role="button">Update</a>
                    <a class="btn btn-primary btn-small" th:href="@{/expdelete/{id} (id=${experience.id})}" role="button">Delete</a>

                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary btn-small" href="/expform" role="button">Add New Experience</a><br />

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Skills</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="skill : ${Skills}">
                <td><span th:inline="text">
                    [[${skill.name}]], [[${skill.level}]]<br />

                </span></td>
                <td>
                    <a class="btn btn-primary btn-small" th:href="@{/supdate/{id} (id=${skill.id})}" role="button">Update</a>
                    <a class="btn btn-primary btn-small" th:href="@{/sdelete/{id} (id=${skill.id})}" role="button">Delete</a>

                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary btn-small" href="/sform" role="button">Add New Skill</a><br />



    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>