<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.com">
<head>
    <meta charset="UTF-8" />
    <title>Robo Resume</title>
</head>
<body>
<h1>Register New User</h1>
    <div th:replace="Base :: navlinks"></div>
    <form action="#"
      th:action="@{/registration}"
      th:object="${user}"
      method="post">

    <input type="hidden" th:field="*{id}" />
    <!--<input type="hidden" th:field="*{role}" />-->

    Username : <input type="text" th:field="*{username}" />
    <span th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}"></span><br />

    Password : <input type="text" th:field="*{password}" />
    <span th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"></span><br />


    <input type="submit" value="Submit" />
</form>
<br /><br />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>